
.button__container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #188edd;
	font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #ffffff;
	font-weight: 600;
	font-size: 1.15rem;
	padding: 0.3rem 2.5rem;
	border-radius: 6px;
	box-shadow: 0px 2px 2px hsla(204, 80%, 48%, 0.507);
  border: none;
	outline: none;
}
.button__container:hover {
  opacity: 0.8;
}
.button__container:active {
  transform: scale(0.98)
}

.button__primary {
	background-color: #57bbff;
	color: #ffffffde;
	box-shadow: 0px 2px 2px rgba(87, 187, 255, 0.51);
  height: 40px;
}

.button__danger {
	background-color: #FE6B8B;
	box-shadow: 0px 2px 2px rgb(254 107 139 / 50%);
	color: #ffffffde;
	height: 40px;
}

.button__secondary {
	background-color: #ffffff;
	color: #000000de;
	/* border: solid 1px rgb(0, 0, 0); */
	box-shadow: 0px 2px 2px rgba(94, 106, 114, 0.315);
}

.button__disabled {
	background-color: #5e6a72;
	color: #ffffffde;
	box-shadow: 0px 2px 2px rgba(94, 106, 114, 0.315);
	opacity: 0.8;
	pointer-events: none;
	cursor: default;
}
