<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account activation</title>
</head>
<body>
    <h1>Account activated!</h1>
    <br>
    <p>Dear user,</p>
    <p>Congratulations! Your account has been verified and activated by the Admin. From now on, you can access our site from <a href="http://localhost:3000/">here</a>.</p>

    <p><i>Thanks.</i></p>
    <p><i>Bell-212 software division.</i></p>
</body>
</html>