<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Deactivated</title>
</head>
<body>
    <h1>Account Deactivated</h1>
    <br>
    <p>Dear user,</p>
    <p>Sorry! Your account has been deactivated by the Admin. Please contact if you have any queries.</p>

    <p><i>Thanks.</i></p>
    <p><i>Bell-212 software division.</i></p>
</body>
</html>