.container {
  margin: 0 2.5rem;
  padding: 2rem;
  background: #fff;
  border-radius: 15px;
}

.main_content{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .main_content{
    display: flex;
    flex-direction: column-reverse;
  }
}

.left_side{
  width: 100%;
  grid-column: 1/9;
}
.right_side{
  width: 100%;
  grid-column: 9/13;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.question__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.text_area {
  min-width: 100%;
  min-height: 100px;
  max-height: 160px;
  padding: 5px;
  border: 1.8px solid #00A9DC;
  box-sizing: border-box; 
  outline: none;
  font-size: 1.03rem;
  resize: 'vertical';
  border-radius: 6px;
}

.choiceItem{
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
}
.choiceInput{
  border: none;
  border-bottom: 1.5px solid gray;  
outline: none;
}
.choiceInput:focus {
  border-bottom-color: #57bbff;
}
.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.question_para{
  font-weight: 600;
  color: #000000cf;
  font-size: 1.13rem;
  margin-bottom: 0.4rem;
}

.options {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.68rem;
  margin-top:0.9rem;
}

.option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid grey;
}
.radio{
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_el{
  width: 100%;
}